.row {
	/* Fix a bug where a scrollbar appears at the bottom if not for this */
	margin-left: 0;
	margin-right: 0;
	margin-top: 1vh;
}

body {
	background-color: #262626;
}

.card {
	height: 80vh;
	overflow-y: auto;
}

.table tbody > tr > td {
	vertical-align: middle;
}

#loader {
	display: none;
}

svg {
	height: 2em;
}

.btn {
	line-height: 0.75!important;
}